.container {
  display: flex;
  width: 100%;
  background-color: #f8f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.header {
  display: flex;
  width: 87%;
  margin-top: 4.25rem;
}

.breakdownContainer {
  width: 87%;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
}

.breakdownTitle {
  font-size: 1.25rem;
  font-family: Avenir-Heavy;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.39px;
  color: #042c5c;
  margin-bottom: 0.25rem;
}